<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="/static/asset/index.css">
    <title>PepCoke Prediction result</title>
</head>
<body style="background-color:black;color:white;margin: 0;">
    <ul class="uli">
        <li class="iris"><a href='/'>PepCoke</a></li>
        <li class="help"><a href='/help'>Help</a></li>
     </ul>   
     <div class="header">
        <center><b><h1>Pepsi and Cocacola Prediction</h1></b></center>
     </div><br>
    <center><div class="">
        <h1 style="color: yellow;">Prediction: <span class="" style="color:rgba(0, 255, 68, 0.866);"> {{pred}}</h1>
        <img src="{{filepath}}" width="200" height="200">
    </div></div></center>
</div><br><br><br><br><br><br>
<footer>
    Copyright&copy; Webster Company Limited
</footer> 
</body>
<style>
    img{
        border-radius: 1.5em;
    }
</style>
</html>